<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Livros</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>Livros</h2>
        <ul>
            <% books.forEach(function(book){ %>
              <li><%= book %></li>
            <% }); %>
        </ul>
    </body>
</html>