<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="site.css">
    <title>CRUD</title>
</head>
<body>
    <div class="bg-branco-claro p-8">
        <h4 class="titulo-pagina ">Como consumir a API Rest</h4>
    </div>
    <div class="bg-verde-claro p-4">
        <h5 class="titulo-operacao color-branco">Create</h5>
        <p>Para criar um novo registro, basta fazer uma requisição <b>POST</b> no endpoint <code>/api/books</code> passando um <b>JSON</b></p>
    </div>
    <div class="bg-azul-claro p-4">
        <h5 class="titulo-operacao color-branco">List</h5>
        <p>Para listar todos os registro, basta fazer uma requisição <b>GET</b> no endpoint <code>/api/books</code> que será retornado um <b>JSON</b></p>
    </div>
    <div class="bg-roxo-claro p-4">
        <h5 class="titulo-operacao color-branco">Update</h5>
        <p>Para listar editar um registro especifico, basta afzer uma requisição <b>PUT</b> no endpoint <code>/api/books/:id</code> passando o ID do registro a ser editado, será retornado um <b>JSON</b></p>
    </div>
    <div class="bg-vermelho-claro p-4">
        <h5 class="titulo-operacao color-branco">Delete</h5>
        <p>Para delatar um registro especifico, basta fazer uma requisição <b>DELETE</b> no endpoint <code>/api/books/:id</code>  passando o ID do registro a ser deletado.</p>
    </div>
</body>
</html>