:root {
    --branco-claro: #ecf0f1;
    --verde-claro: #2ecc71;
    --azul-claro: #3498db;
    --vermelho-claro: #e74c3c;
    --roxo-claro: #9b59b6;
}

body, h5 {margin: 0; padding: 0}

/* Padding */
.p-8 {padding: 8px}
.p-4 {padding: 4px}

/* BGs */
.bg-branco-claro { background: var(--branco-claro)}
.bg-verde-claro { background: var(--verde-claro)}
.bg-azul-claro { background: var(--azul-claro)}
.bg-vermelho-claro { background: var(--vermelho-claro)}
.bg-roxo-claro { background: var(--roxo-claro)}

/* Colors */
.color-branco {color: var(--branco-claro)}

/* Fontes */
.titulo-pagina {font-size: 2rem}
.titulo-operacao {
    font-size: 1.2rem
}